@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 960px;
  padding: 1.5em;
  margin: 0 auto;

  min-height: 30em;
  position: relative;

  @media (--media-min-small) {
    padding: 2em;
  }
}
