@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: absolute;
  z-index: 100;
  width: 100%;
  /* margin-left: -50px; */
}
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons{
  display: flex;
  margin-right: 2em;

  & svg {
    fill: var(--color-white);
    width: calc(7px + .5vw);
    opacity: .5;
    margin-left: 1em;
  }
}

.searchIcon{
  margin-right: 3em;
}

.icons .facebook{
  width: calc(1px + .5vw);
}

.ads{
  max-width: 468px;
  max-height: 60px
}

.ads2{
  max-height: 60px;
  max-width: 468px;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;

  max-width: 960px;
  min-height: 143px;

  height: 10em;

  padding: 0px;

  display: flex;
  flex-direction: column;

  background-color: var(--color-black);
  color: var(--color-white);

  @media (--media-min-small) {
    /* padding: 1.5em 1.5em; */
  }
}

.branding {
  font-weight: 600;
  flex: 1;

  max-width: 90px;
  height: 77px;

  margin:1em;
  margin-bottom: 10px;
  margin-left: 2em;

  background: white;
  color: var(--color-black);

  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;

  & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;
  background-color: var(--color-dark-gray);

  @nest & ul {
    margin: 0;
    padding: 0;
  }
  @nest & li {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  @nest & ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size:12px;
  }

  @media (hover: hover) {
    @nest & ul li a:hover {
      color: var(--color-accent);
    }
  }

  @media (--media-max-small) {
    position: absolute;
    background: var(--color-white);
    color: var(--color-black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 4.3rem;

    @nest & ul {
      padding: 1rem 0;
    }

    @nest & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media (--media-min-small) {
    display: block;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }

    @nest & ul li a {
      padding: 0.5rem;
    }
  }
}

.showNav {
  display: block;
}

@media screen and (max-width: 886px) {
  .ads2 {
    display: none !important;
  }
}
